body {
    max-width:100pc;
    min-width:400px;
    background-color:gray;
    color:azure;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5em;
    overflow-x:hidden;
}

div {
    text-align:center;
    padding:20px 0px;
    background-color:inherit;
}

a {
    color:inherit;
}

.keyPoint {
    font-size:1.5em;
}

.highlight {
    color:#D0CE8B;
}
		   
.panelImg {
    background-size:cover;
    background-position:center;
    position:relative;
    margin:0px -10px;
    height:500px;
    max-height:500px;
    z-index:-1;
}

.skillList {
    padding:0px 2pc;
}

.horLi {
    list-style-type:none;
}

.horLi li {
    display:inline-block;
}

.horLi li img {
    height:40px;
    margin-bottom:5px;
}

#posHist li {
    list-style-type:none;
}

#skills li img {
    margin:0px 30px;
}

#footer li {
    margin:0px 10px;
}

#footer div {
    margin-left:30px;
    padding:0px 0px 20px 0px;
}

#footer, .footerHolder {
    min-height:30px;
}

#footer {
    padding:0px 0px;
    position:fixed;
    bottom:0px;
    right:20px;
    font-size:0.5em;
}

#header {
    font-size:3em;
    margin:10px;
}