body {
    max-width:100pc;
    background-color:#2e2e1f;
    color:#adad85;
    font-family: Mitr, sans-serif;
}

td {
    vertical-align:top;
}
		   
div {
    min-width:300px;
    max-width:50pc;
    margin-top:10px;
    margin-left:40px;
    margin-right:40px;
    overflow:hidden;  
}

a {
    color:#adad85;
}
		   
.group {
    padding-top:10px;
}
		   
.name {
    font-family: Syncopate, sans-serif;
    font-size:4em;
}
		   
.keyPoint {
    font-size:2em;
}
		   
.imgFurBaby {
    background-image:url(../Images/PrettiestPicture.jpg);
    background-size:cover;
    background-position:center;
    max-width:30pc;
    height:500px;
    border-radius:80px;
}